body {
    margin: 0;
    padding: 0;
}
.information {
  background: #fff;
  padding: 24px 0 12px 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #555;
}
.informationContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
